<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PrioriTask</title>

    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <style>
      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        background-color: #f5f5f5;
      }

      .navbar-brand {
        cursor: default;
        color: #121212;
        font-family: Roboto;
        font-size: 200%;
        font-weight: bold;
      }
      .navbar-brand:hover {
        cursor: default;
        color: #121212;
        font-family: Roboto;
        font-size: 200%;
        font-weight: bold;
      }

      nav {
        background-color: rgba(255, 255, 255, 0);
      }

      .jumbotron {
        color: #121212;
        background-color: #f5f5f5;
      }

      form button.btn {
        background-color: #f05454;
      }
      form button.btn:hover {
        background-color: #121212;
      }

      form button.btn i {
        color: #f5f5f5;
      }

      button.btn {
        background-color: #f05454;
        color: #f5f5f5;
      }
      button.btn:hover {
        background-color: #121212;
        color: #f5f5f5;
      }

      .warna-merah {
        background-color: rgb(240, 84, 84, 0.5) !important;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.3);
      }

      th {
        background-color: #f05454;
        color: #f5f6f9;
        text-align: center;
        height: 45px;
      }

      td {
        border-top: 1.5px solid #000000;
        height: 65px;
        padding-right: 7px;
        padding-left: 7px;
        text-align: center;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: medium;
      }

      .table-hover > tbody > tr:hover > td {
        background-color: rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid d-flex justify-content-center">
        <ul class="nav justify-content-center">
          <a class="navbar-brand" href=""> PrioriTask </a>
        </ul>
      </div>
    </nav>

    <div
      class="container mt-5"
      style="text-align: center; text-justify: distribute"
    >
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h1
              class="display-4"
              style="font-size: 50px; font-family: Roboto; font-weight: bold"
            >
              Homework Isn't
              <span style="color: #f05454">Nightmare</span> Anymore
            </h1>
            <p class="lead">
              Your Ultimate Task Manager for Enhanced Productivity. Say goodbye
              to the chaos of juggling assignments and deadlines. PrioriTask
              empowers you to effortlessly prioritize and manage tasks, ensuring
              that you stay on top of your academic game. From task scheduling
              to progress tracking, it's your academic companion for stress-free
              success
            </p>
            <hr class="mt-5" />
          </div>
        </div>
        <div class="container" style="margin-top: -5%">
          <form class="row" action="/addTask" method="post">
            <div class="col-md-3 my-2">
              <input
                type="text"
                class="form-control"
                placeholder="Name of task..."
                name="taskName"
              />
            </div>
            <div class="col-md-2 my-2">
              <input
                type="text"
                class="form-control"
                placeholder="Subject..."
                name="subject"
              />
            </div>
            <div class="col-md-2 my-2">
              <input type="date" class="form-control" name="deadline" />
            </div>
            <div class="col-md-2 my-2">
              <select class="form-control" name="importance">
                <option value="Importance">Importance</option>
                <option value="Not importance">Not Importance</option>
              </select>
            </div>
            <div class="col-md-2 my-2">
              <select class="form-control" name="urgency">
                <option value="Urgent">Urgent</option>
                <option value="Not urgent">Not Urgent</option>
              </select>
            </div>
            <div class="col-md-1 my-2">
              <button type="submit" class="btn">
                <i class="bi-plus-circle-fill"></i>
              </button>
            </div>
          </form>
          <form action="/generateTable" method="get">
            <button type="submit" class="btn my-5">Generate Table</button>
          </form>
        </div>
        <table class="table-hover mb-5" id="tabel">
          <thead>
            <tr>
              <th>Priority</th>
              <th>Task Name</th>
              <th>Subject</th>
              <th>Importance</th>
              <th>Urgency</th>
              <th>Days Left</th>
            </tr>
          </thead>
          <tbody>
            <% tasks.forEach(function(task) { %>
            <tr>
              <td><%= task.priority %></td>
              <td><%= task.task_name %></td>
              <td><%= task.subject %></td>
              <td><%= task.importance %></td>
              <td><%= task.urgency %></td>
              <td><%= task.days_left %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <script>
          // Dapatkan semua baris dalam tabel
          var barisTabel = document.querySelectorAll("#tabel tbody tr"); // Ubah untuk hanya mengambil baris di dalam tbody

          // Loop melalui setiap baris
          barisTabel.forEach(function (baris) {
            var taskDL = baris.querySelector("td:nth-child(6)"); // Kolom 'DL'
            var nilaiDL = parseInt(taskDL.textContent);

            if (nilaiDL === 1) {
              // Jika nilai DL adalah 1, tambahkan kelas 'warna-merah' ke baris tersebut
              baris.classList.add("warna-merah");
            }
          });
        </script>
      </div>
    </div>
  </body>
</html>
